* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: url("bg.jpg");
    overflow: hidden;
}

::selection {
    background: rgba(26, 188, 156, 0.3);
}

.container {
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}

.wrapper {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 12px 14px 17px -7px rgb(9 9 9 / 42%);
    position: relative;
}

.wrapper .title {
    height: 90px;
    background: #1a1f2c;
    border-radius: 5px 5px 0 0;
    color: #0ad1b1;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form {
    padding: 30px 25px 25px 25px;
}

.wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row input:focus {
    border-color: #0ad1b1;
    box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
}

form .row input::placeholder {
    color: #999;
}

.wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #1a1f2c;
    border: 1px solid #0ad1b1;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .pass {
    margin: -8px 0 20px 0;
}

.wrapper form .pass a {
    color: #0ad1b1;
    font-size: 17px;
    text-decoration: none;
}

.wrapper form .pass a:hover {
    text-decoration: underline;
}

.wrapper form .button input {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #1a1f2c;
    border: 1px solid #1a1f2c;
    cursor: pointer;
}

form .button input:hover {
    background: #1a1f2c;
}

.wrapper form .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
    padding-bottom: 15px;
}

.wrapper form .signup-link a {
    color: #0ad1b1;
    text-decoration: none;
}

form .signup-link a:hover {
    text-decoration: underline;
}

.frm {
    position: relative;
    top: 50px;
}

.face {
    height: 130px;
    width: 155px;
    background-color: white;
    border-radius: 120px 120px 90px 90px;
    position: relative;
    bottom: 70px;
    left: -10px;
}

.earl,
.earr {
    background-color: #4d4449;
    height: 40px;
    width: 45px;
    border-radius: 43px 43px 0 0;
}

.earl {
    transform: rotate(-38deg);
    -webkit-transform: rotate(-38deg);
    position: relative;
    top: 5px;
    right: 10px;
}

.earr {
    transform: rotate(38deg);
    -webkit-transform: rotate(38deg);
    position: relative;
    bottom: 32px;
    left: 104px;
    }

.panda {
    position: relative;
    bottom: 530px;
    left: 134px;
}

.eyel,
.eyer {
    background-color: #4d4449;
    height: 38px;
    width: 36px;
    border-radius: 32px;
    position: relative;
}

.eyel {
    top: 7px;
    left: 34px;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
}

.eyer {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    bottom: 30.5px;
    left: 86px;
}

.blshl,
.blshr {
    background-color: #ff9999;
    height: 16px;
    width: 22px;
    border-radius: 50%;
    position: relative;
    opacity: 0.8;
}

.blshl {
    transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    position: relative;
    top: 67px;
    left: 29px;
}

.blshr {
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    position: relative;
    top: 52px;
    left: 106px;
}

.eyeball1,
.eyeball2 {
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    transition: 1s all;
    -webkit-transition: 1s all;
}

.eyeball1 {
    left: 13px;
    top: 13px;
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
}

.eyeball2 {
    left: 13px;
    top: 13px;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
}

.nose {
    height: 20px;
    width: 20px;
    background-color: #4d4449;
    border-radius: 20px 0px 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: relative;
    bottom: 30px;
    left: 69px;
}

.line {
    background-color: #4d4449;
    height: 10px;
    width: 2px;
    position: relative;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    left: 18.5px;
    top: 15px;
}

.m,
.mm {
    background-color: #4d4449;
    height: 8px;
    width: 15px;
    border-radius: 0 0 8px 8px;
    position: relative;
}

.m {
    bottom: 21px;
    left: 64px;
}

.m1 {
    height: 6px;
    width: 13px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    position: relative;
    left: 1px;
    bottom: 1px;
}

.mm {
    bottom: 29px;
    left: 78.5px;
}

.handl,
.handr {
    background-color: #4d4449;
    height: 50px;
    width: 45px;
    border-radius: 10px 10px 30px 30px;
    z-index: 2;
    transition: 1s all;
    -webkit-transition: 1s all;
}

.handl {
    position: absolute;
    top: 162px;
    right: 57.5%;
    border: 1px solid #7c6464;
}

.handr {
    position: absolute;
    top: 162px;
    left: 57.5%;
    border: 1px solid #7c6464;
}

.pawl,
.pawr {
    background-color: #4d4449;
    height: 60px;
    width: 60px;
    border-radius: 40px 40px 20px 20px;
    position: relative;
    z-index: 2;
}

.pawl {
    top: 540px;
    left: 59.3%;
    position: absolute;
}

.pawr {
    top: 540px;
    right: 59.3%;
    position: absolute;
}

.p1 {
    background-color: white;
    height: 29px;
    width: 40px;
    position: relative;
    top: 21px;
    left: 10px;
    border-radius: 25px 25px 10px 10px;
}

.p2,
.p3,
.p4 {
    background-color: white;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    position: relative;
}

.p2 {
    bottom: 14.5px;
    left: 14.5px;
}

.p3 {
    bottom: 18.2px;
    right: 2.5px;
}

.p4 {
    bottom: 30.2px;
    left: 31px;
}